*.o
*.a
*.user
build/QT/JoyStickConfig/JoyStickConfig.app
build/QT/build-FreeStickTestApp-Desktop_Qt_5_2_0_clang_64bit-Debug
build/QT/build-FreeStickTestApp-Desktop_Qt_5_2_1_clang_64bit-Debug
build/QT/FreeStick/Makefile
build/QT/JoyStickConfig/Makefile
.qmake.stash
joystickconfigwidget.cpp.autosave
build/QT/build-*
android-libJoyStickConfig.so-deployment-settings.json
libFreeStick.so
libJoyStickConfig.so
build/QT/JoyStickConfig/moc_joystickconfigwidget.cpp
build/QT/JoyStickConfig/moc_mainwindow.cpp
build/QT/JoyStickConfig/ui_joystickconfigwidget.h
build/QT/JoyStickConfig/ui_mainwindow.h
build/QT/JoyStickConfig/moc_analogaxiswidget.cpp
build/QT/FreeStick/Makefile.Debug
build/QT/FreeStick/Makefile.Release
build/QT/JoyStickConfig/Makefile.Debug
build/QT/JoyStickConfig/Makefile.Release
build/QT/JoyStickConfig/debug/JoyStickConfig.exe.embed.manifest
build/QT/JoyStickConfig/debug/JoyStickConfig.exe_manifest.rc
build/QT/JoyStickConfig/debug/JoyStickConfig.exe_manifest.res
build/QT/JoyStickConfig/debug/moc_analogaxiswidget.cpp
build/QT/JoyStickConfig/debug/moc_joystickconfigwidget.cpp
build/QT/JoyStickConfig/debug/moc_mainwindow.cpp
*.obj
build/QT/JoyStickConfig/debug/JoyStickConfig.exe
build/QT/JoyStickConfig/debug/JoyStickConfig.ilk
build/QT/JoyStickConfig/debug/joystickconfig.pdb
build/QT/JoyStickConfig/debug/JoyStickConfig_pch.pch
build/QT/FreeStick/debug/freestick.pdb
build/QT/FreeStick/debug/FreeStick.lib
