*.o
*.a
*.user
build/QT/JoyStickConfig/JoyStickConfig.app
build/QT/build-FreeStickTestApp-Desktop_Qt_5_2_0_clang_64bit-Debug
build/QT/build-FreeStickTestApp-Desktop_Qt_5_2_1_clang_64bit-Debug
build/QT/FreeStick/Makefile
build/QT/JoyStickConfig/Makefile
.qmake.stash
joystickconfigwidget.cpp.autosave
build/QT/build-*
android-libJoyStickConfig.so-deployment-settings.json
libFreeStick.so
libJoyStickConfig.so
build/QT/JoyStickConfig/moc_joystickconfigwidget.cpp
build/QT/JoyStickConfig/moc_mainwindow.cpp
build/QT/JoyStickConfig/ui_joystickconfigwidget.h
build/QT/JoyStickConfig/ui_mainwindow.h
build/QT/JoyStickConfig/moc_analogaxiswidget.cpp
